:root {
    --info-color: #0f3468;
    --h1-color: #fff;
    --main-bg: #1b1b2f;
    --button-color: #4e54c8;    
    --character-color: #0f3460;
    --cool-text-color: #e94560;
    --character-li-color: #16213e;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-family: fantasy;
    background: var(--main-bg);
    text-align: center;
    padding: 1rem;
}

header {
    margin: 2rem;
}

h1 {
    /* text-shadow: 1px 1px #FFE81F; */
    font-size: 100px;
    -webkit-text-stroke: 2px #FFE81F;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: var(--button-color);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: violet;
}

input {
    width: 30vw;
    padding: 8px;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #ccc;
}

#character {
    background: var(--character-color);
    color: var(var(--cool-text-color));
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    max-width: 600px;
}

#characters {
    list-style: none;
    padding: 0;
}

#characters li{
    background: var(--character-li-color);
    color: #fff;
    padding: 10px;
    margin: 10px auto;
    border-radius: 20px;
    max-width: 600px;
    cursor: pointer;
}

@media (max-width: 600px) {
    input {
        width: 80vw;
        height: auto;
    }
}